@model List<TeamMemberGetVM>

<div class="d-flex flex-column m-4 w-100">
    <a asp-action="Create" class="btn btn-warning">Create New Team Member</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">FullName</th>
                <th scope="col">Image</th>
                <th scope="col">Position</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var member in Model)
            {
                <tr>
                    <th scope="row">@member.Id</th>
                    <td>@member.FullName</td>
                    <td>
                        <img src="/assets/img/@member.ImagePath" />
                    </td>
                    <td>@member.PositionName</td>
                    <td class="d-flex gap-2">
                        <a asp-action="Update" asp-route-id="@member.Id" class="btn btn-primary">Update</a>
                        <a asp-action="Delete" asp-route-id="@member.Id" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>